ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #47ADA0;
  background-color: #2A2E2D;
}

li {
  float: left;
}

li a {
  font-size: 1.2em;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 38px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #457363;
}

li a.active {
  color: white;
  background-color: #457363;
}

body {
  background-image: url("img.jpg");
  background-repeat: initial;
}

#titles{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    border: 2px dotted #47ADA0;
    background-color: #2A2E2D;
}

#info{
    list-style-type: none;
    height: 40px;
    margin: 0;
    padding-left: 3%;
    overflow: hidden;
    border-radius: 4px;
    border: 2px dotted #47ADA0;
    background-color: #2A2E2D;
    box-sizing: border-box;
}

a{
  font-size: 1.2em;
  color: white;
  text-align: left;
  padding: 20px 38px;
  text-decoration: none;
}

p{
  color: white;
}

#box{
  resize: inherit;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px 10px;
  margin: 2% auto;
  border-radius: 8px;
  width: auto;
  height: 600px;
  background: rgba(0,0,0,0.35);
}

.button {
  border-radius: 6px;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #2A2E2D;
  color: white;
  border: 2px solid #47ADA0;

}

.button:hover {
    background-color: #457363;
    color: white;
}
